/* Bookshelf.css */

  .bodyWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    height: 20vh;
    padding-top:200px;
  }
  
  .bookshelfWrapper {
    position: relative;
    width: 100%;
    max-width: 5000px;
    pointer-events: all;
    padding-bottom:0;
    height:100px;
  }
  
  .books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 5%;
    width: 100%;
    margin: auto;
    transform: translateY(-100%);
    padding: 0 0 2px;
    z-index: 1;
    position: relative;
    top: 10px;
  }
  
  .book {
    width: 100%;
    border-radius: 3px 0.5px 0.5px 3px;
    aspect-ratio: 115 / 180;
    position: relative;
  }
  
  .book::before,
  .book::after {
    position: absolute;
    width: 100%;
    display: block;
    content: " ";
    transition: all 300ms ease-out;
    background: var(--bg-image) center center/cover no-repeat, #f3f3f3;
  }
  
  .book::before {
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25),
                inset 2px 0px 2px 1px rgba(29, 27, 27, 0.2);
  }
  
  .book::after {
    height: 102%;
    filter: blur(10px);
    z-index: -1;
    opacity: 1;
  }
  
  .book:hover::before,
  .book:hover::after {
    transition: transform 600ms cubic-bezier(0.34, 1.56, 0.64, 1),
                opacity 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translate(0, -45%) skew(3deg, -3deg) scale(1.35);
  }
  
  .book:hover::after {
    transform: translate(0, -45%) skew(3deg, -3deg) scale(1.275);
  }
  
  .book:nth-of-type(even):hover::before {
    transform: translate(0, -45%) skew(-3deg, 3deg) scale(1.35);
  }
  
  .book:nth-of-type(even):hover::after {
    transform: translate(0, -45%) skew(-3deg, 3deg) scale(1.275);
  }
  
  .bookshelf {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 10px;
    z-index: 0;
    border-bottom: 16px solid #f3f3f3;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  
  .bookshelf::before {
    content: "";
    position: absolute;
    top: 16px;
    left: -20px;
    background: linear-gradient(90deg, #fafafa 0%, #ffffff 100%);
    height: 26px;
    width: calc(100% + 40px);
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.05),
                0px 4px 16px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }
  
  .bookshelf::after {
    content: "";
    height: 80px;
    width: calc(100% + 40px);
    position: absolute;
    top: 42px;
    left: -20px;
    display: block;
    background: linear-gradient(180deg, #f3f3f3 0%, rgba(255, 255, 255, 0) 100%);
    clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 3% 100%);
    z-index: -1;
  }
  