/* img {
    max-width: 100%;
  } */
  
  .topcap,
  .bottomcap {
    position: absolute;
    left: -5px;
    width: 130px;
    height: 10px;
    background: linear-gradient(to right, rgba(63,63,63,1) 0%, rgba(0,0,0,1) 17%, rgba(86,86,86,1) 39%, rgba(14,14,14,1) 89%, rgba(71,71,71,1) 100%);
  }
  
  .bottomcap {
    bottom: 0;
  }
  
  .can {
    box-shadow: 8px 0px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 20px;
    left: 50px;
    width: 120px;
    height: 230px;
    background: linear-gradient(to right, rgba(164,97,8,1) 0%, rgba(242,216,67,1) 38%, rgba(223,150,35,1) 80%, rgba(164,97,8,1) 100%);
  }
  
  .text {
    transform: rotate(90deg) translate(60px, 40px);
    display: block;
    color: #000;
    font-family: helvetica;
    font-weight: bold;
    text-align: center;
    width: 200px;
  }
  
  .text p {
    margin: 0;
  }
  
  .gold {
    font-size: 3em;
    line-height: 0.9em;
  }
  
  .num {
    font-size: 2em;
    font-style: italic;
  }
  
  .mm {
    font-size: 0.8em;
    font-family: serif;
  }
  
  .film {
    position: absolute;
    top: 35px;
    left: 160px;
    width: 150px;
    overflow: hidden;
    transition: all 1s;
  }
  
  .film:hover {
    width: 560px;
  }
  
  .film:hover .strip {
    transform: translateX(0px);
  }
  
  .strip {
    display: flex;
    transform: translateX(-450px);
    transition: all 1s;
    width: 560px;
    height: 166px;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 17px 0px;
    border-image-source: url(https://i.imgur.com/Sm9CNai.png);
    border-image-slice: 27 fill;
    border-image-repeat: stretch;
  }
  
  .frame {
    display: block;
    width: 160px;
    height: 160px;
    margin: 3px 0px 20px 20px;
    background-color: #000;
    flex-shrink: 0;
  }
  
  .frameContent {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaDZ1ZHE5eWRmbDBpeHd6bjBydW1xYWt1ZmNxbHpncnJ3djVibnF2YiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/l46CAeMR1XVgrpY5O/giphy.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  