html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  background-color: #ffffff;
  background-image:
    linear-gradient(hsl(189, 37%, 93%) 1px, transparent 1px),
    linear-gradient(90deg, hsl(189, 37%, 93%) 1px, transparent 1px);
  background-size: 20px 20px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.heading2Xl,
.headingXl,
.headingLg {
  font-family: var(--font-yourfont), sans-serif;
}