@font-face {
  font-family: 'Domaine Display';
  src: url(/fonts/test-domaine-display-black.woff2) format('woff2');
  /* Add more formats if necessary */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Domaine Text';
  src: url(/fonts/test-domaine-text-bold.woff2) format('woff2');
  /* Add more formats if necessary */
  font-weight: normal;
  font-style: italic;
}

.heading2Xl {
  font-family: 'Domaine Text';
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-family: 'Domaine Text';
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-family: 'Domaine Text';
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingAbout {
  font-family: 'Domaine Text';
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 50%;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.aboutText {
  color: black
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(20%, 1fr)); /* Adjust the width as needed */
  gap: 1vw; /* Adjust the gap between grid items */
  margin: 0 auto; /* Center the grid horizontally */
}

.square {
  width: calc(100% - 2vw); /* Adjust the width to accommodate padding and gap */
  padding: 1vw; /* Adjust padding as needed */
  border-radius: 10px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-size: clamp(2vw, 4vw, 2vw); /* Adjust the minimum, preferred, and maximum font size */

}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw; /* Adjust margin as needed */
}

.buttons .square {
  width: 48%;
  background-color: white;
}

.clicked {
  background-color: black; /* Dark gray background when clicked */
  color: white; /* White text when clicked */
}

.submissionAnimation {
  animation: moveTop 2s forwards;
}

@keyframes moveTop {
  0% {
      transform: translateY(0);
  }

  100% {
      transform: translateY(-100%); /* Adjust this value based on your grid's height */
  }
}

.backgroundEasy {
  background-color: rgb(249, 223, 109);
  padding: 1vw; /* Adjust padding as needed */
  margin-bottom: 1vw; /* Adjust margin as needed */
  text-align: center;
  flex-direction: column;
}
.backgroundMedium {
  background-color: rgb(160, 195, 90);
  padding: 1vw; /* Adjust padding as needed */
  margin-bottom: 1vw; /* Adjust margin as needed */
  text-align: center;
  flex-direction: column;
}
.backgroundHard {
  background-color: rgb(176, 196, 239);
  padding: 1vw; /* Adjust padding as needed */
  margin-bottom: 1vw; /* Adjust margin as needed */
  text-align: center;
  flex-direction: column;
}
.backgroundDifficult {
  background-color: rgb(186, 129, 197);
  padding: 1vw; /* Adjust padding as needed */
  margin-bottom: 1vw; /* Adjust margin as needed */
  text-align: center;
  flex-direction: column;
}

.circleContainer {
  display: flex;
  justify-content: center;
}

.circle {
  width: 1vw; /* Adjust circle size as needed */
  height: 1vw; /* Adjust circle size as needed */
  border-radius: 50%;
  background-color: gray; /* Change color as needed */
  margin-right: 1vw; /* Adjust spacing between circles */
  margin-top: 1vw; /* Adjust margin as needed */
}
