@font-face {
  font-family: 'Domaine Display';
  src: url(/fonts/test-domaine-display-black.woff2) format('woff2');
  /* Add more formats if necessary */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Domaine Text';
  src: url(/fonts/test-domaine-text-bold.woff2) format('woff2');
  /* Add more formats if necessary */
  font-weight: normal;
  font-style: italic;
}

.heading2Xl {
  font-family: 'Domaine Text';
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-family: 'Domaine Text';
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-family: 'Domaine Text';
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingAbout {
  font-family: 'Domaine Text';
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 50%;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.aboutText {
  color: black
}